<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    {% for item in item_list%}
    <ul>
        <li> 
        <!-- <a href="/display/{{item.id}}/">{{item.id}} -- {{item.item_name}}</a> --><!--Hardcoded URL /display/{{item.id}}-->
         <!-- {{item.id}} -- {{item.item_name}} -->
          <a href="{% url display:'detail' item.id %}">{{item.id}} -- {{item.item_name}}</a><!--Detail is the name of the path in urls.py-->
        </li>
    </ul>
       
    {% endfor %}



</body>
</html>